# Data and Artifacts
data/aggregates/
data/aggregates_ai_complete/
data/ai_powered_recat/
data/preprocessing/
data/raw/
data/user/
data/user_raws
data_false_positives/
results/
analysis_gdpr_profiles/outputs/
analysis_gdpr_profiles/reports/
analysis_gdpr_profiles/visualizations/


# Python Environment and Cache
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/
*.so

# System
.DS_Store
Thumbs.db
lib/
results/visualizations/
results/results_reproducibility_report.txt
*.tar.xz