# Data and Artifacts
data/aggregates/
data/aggregates_ai_complete/
data/ai_powered_recat/
data/preprocessing/
data/raw/
data/user/
data/user_countries/
data/user_countries_raws/
data/aggregates_ai_complete_countries/
data/aggregates_countries/
data/preprocessing_countries/
data_false_positives_countries/
data/Countries_data
data/Countries_data_2

data/user_raws
data_false_positives/
results/
analysis_gdpr_profiles/outputs/
analysis_gdpr_profiles/reports/
analysis_gdpr_profiles/visualizations/


# Python Environment and Cache
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/
*.so

# System
.DS_Store
Thumbs.db
lib/
results/visualizations/
results/results_reproducibility_report.txt
data_ini.tar.xz